
body{
    background-image: url(header.jpg);
    background-size: cover;
    line-height: 4px;
}
hr {
  max-width: 190px;
  border-width: 4px;
  border-color: #F05F44; 
}
.h1{
    justify-content: center;
}
.faded {
    justify-content: center;
    color: rgba(255, 255, 255, 0.8); 
}
header{
  margin-top: 250px;
  justify-content: center;
  text-align: center;
}
.btn {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}

header.startup h1 {
  font-size: 2rem; 
}
nav {
  background-color:white;
  box-shadow: 0vh 0vh 2vh 3vh white;
}
.dropdown-menu a{
  padding:8px
}